# THE PURPOSE OF DICTIONARY

Dictionary is an key based iterable python object that used to store relational or tabular data in python memory

In [ ]:
D = {} # Empty Dictionary
print(type(D))

<class 'dict'>

Creating a Deictionary

In [ ]:
#Dict = {'Name': 'Chandra', 'Id': 201, 'Salary': 9555.80} {'Name': 'XYZ', 'Id': 203, 'Salary': 95234.80}
Dict = {'Name': 'Chandra', 'Id': 201, 'Salary': 9555.80}
print(Dict)
#print(Dict[1])
print('The name of the Employee', Dict['Name'])
print('The id of the Employee', Dict['Id'])
print('The Salary of the Employee', Dict['Salary'])

The name of the Employee Chandra
The id of the Employee 201
The Salary of the Employee 9555.8

Simulating a Tabular Data

          Name          Id        Salary
          -------------------------------
        0 X             1            10
        1 Y             2            20
        2 Z             3            30

In [ ]:
Employee_Data = {'0':{'Name': 'X', 'Id': 1, 'Salary': 10},'1':{'Name': 'Y', 'Id': 2, 'Salary': 20},'2':{'Name': 'Y', 'Id': 2, 'Salary': 20}}
print(Employee_Data)

{'0': {'Name': 'X', 'Id': 1, 'Salary': 10}, '1': {'Name': 'Y', 'Id': 2, 'Salary': 20}, '2': {'Name': 'Y', 'Id': 2, 'Salary': 20}}

In [ ]:
Name = ['X', 'Y', 'Z']
Id = [1,2,3]
Salary = [10, 20, 30]

Employee_Data = {'Name': Name, 'Id': Id, 'Salary': Salary}
print(Employee_Data['Name'],Employee_Data['Id'], Employee_Data['Salary'], sep = '\n')

Name.append('A')
Id.append(4)
Salary.append(40)
Employee_Data['Name'][0] = 'Ram'
print(Employee_Data)

['X', 'Y', 'Z']
[1, 2, 3]
[10, 20, 30]
{'Name': ['Ram', 'Y', 'Z', 'A'], 'Id': [1, 2, 3, 4], 'Salary': [10, 20, 30, 40]}

In [ ]:
# Accessing Through Dictionary

print(Employee_Data['Name'][1])
Employee_Data['Name'].append('B')
print(Employee_Data['Name'])

Y
['X', 'Y', 'Z', 'A', 'B']

In [ ]:
print(type(Employee_Data['Name']))
i = Employee_Data['Name'].index('Y')
print(i)
print(Employee_Data['Salary'][i])

<class 'list'>
1
20

# DICTIONARY METHODS

In [ ]:
Copy_Data = Employee_Data.copy()
print(Copy_Data)

{'Name': ['Ram', 'Y', 'Z', 'A'], 'Id': [1, 2, 3, 4], 'Salary': [10, 20, 30, 40]}

Dictionary.fromkeys(sequence,[default_values])
----------------------------------------------
A new dictionary for to be created from a sequence as its keys. Default values for the

In [ ]:
seq = ('Name', 'Sex', 'Age')
dict = dict.fromkeys(seq, [])
print(dict)

{'Name': [], 'Sex': [], 'Age': []}

dict.get(key, default=None)
---------------------------------------
key − This is the Key to be searched in the dictionary.

default − This is the Value to be returned in case key does not exist.

Return Value
-----------------
This method return a value for the given key. If key is not available, then returns default value None.

In [ ]:
dict = {'Name': 'Zara', 'Age': 27}

print ("Value of Age : " ,dict.get('Age',  "No data present"))
print ("Value of Sex: " ,dict.get('Sex', "No data present"))
print(dict)

Value of Age :  27
Value of Sex:  No data present
{'Name': 'Zara', 'Age': 27}

dict.items()
---------------
The method items() returns a list of dict's (key, value) tuple pairs.

In [ ]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : ",dict.items())
print(type(dict.items()))
print(list(dict.items())[0][1])

Value :  dict_items([('Name', 'Zara'), ('Age', 7)])
<class 'dict_items'>
Zara

Description
The method keys() returns a list of all the available keys in the dictionary.

Syntax
Following is the syntax for keys() method −

dict.keys()
---------------
Return Value
This method returns a list of all the available keys in the dictionary.

In [ ]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : " ,  dict.keys())
print ("Value : " ,  dict.values())
print(type(dict.keys()))
Key_List = list(dict.keys())
print(Key_List)
print(dict)

Value :  dict_keys(['Name', 'Age'])
Value :  dict_values(['Zara', 7])
<class 'dict_keys'>
['Name', 'Age']
{'Name': 'Zara', 'Age': 7}

# Loopin in Dictionary

In [ ]:
Name = ['Bumra', 'Bhuvi', 'Kohli']
Role = ['Bowler', 'Bowler', 'Batsman']
cricketer = {'Name': Name, 'Role': Role}
print(cricketer.items())


for k, v in cricketer.items():
  print('The name of the players are ', k, 'and they are ', v, ' respectvelly')

dict_items([('Name', ['Bumra', 'Bhuvi', 'Kohli']), ('Role', ['Bowler', 'Bowler', 'Batsman'])])
The name of the players are  Name and they are  ['Bumra', 'Bhuvi', 'Kohli']  respectvelly
The name of the players are  Role and they are  ['Bowler', 'Bowler', 'Batsman']  respectvelly

In [ ]:
print(cricketer.items())
print(type(cricketer.items()))
crickinfo = list(cricketer.items())
print(crickinfo[0])
print(crickinfo[0][1])
print(crickinfo[0][1][0])

dict_items([('Name', ['Bumra', 'Bhuvi', 'Kohli']), ('Role', ['Bowler', 'Bowler', 'Batsman'])])
<class 'dict_items'>
('Name', ['Bumra', 'Bhuvi', 'Kohli'])
['Bumra', 'Bhuvi', 'Kohli']
Bumra

In [ ]:
# Basic Function Definition
def add(a, b):
  c = a + b
  return(c)

m = add(3, 5)
print(m)

8

In [ ]:
def devide(a, b):
  Q = a // b
  R = a % b
  return Q, R

m, n = devide(10,3)
print('m = ', m, 'n  = ', n)

m =  3 n  =  1