# ==, !=, <,<=,>,>= Operators in Python

WHAT DOES THIS OPERATORS RETURN

In [ ]:
x = 2
y = 2
print("x == y returns: ", x == y)
print("x != y returns: ", x != y)

x == y returns:  True
x != y returns:  False

In [ ]:
x = int(input('Enter value for X :: '))
if x % 2 == 0 and x % 3 == 0:
  
  print(x, ' is divisible by 6')
  #print('Hello World')
  #print('Hello India')
else:
  print(x, ' is not divisible by 6')
print('Hello world else')
print('Hi How R u??') # It is out of the if else block

Enter value for X :: 12
12  is divisible by 6
Hello world else
Hi How R u??

In [ ]:
x = int(input('Enter value for X :: '))
y = int(input('Enter value for y :: '))

if x > y:
  print('Hi')
else:
  print('Bye')

Enter value for X :: 6
Enter value for y :: 13
Bye

In [ ]:
x = 1
y = 2
print("x > y returns:  ", x > y)
print("x >= y returns: ", x >= y)

x > y returns:   False
x >= y returns:  False

In [ ]:
x = 2
y = 2
print("x < y returns:  ", x > y)
print("x <= y returns: ", x >= y)

x < y returns:   False
x <= y returns:  True

In [ ]:
print(x == y)

True

In [ ]:
print(x != y)

False

In [ ]:
print(x > y)

False

In [ ]:
a = -1
b = 1
if a == b:
  print("a is equal to b")
elif a > b: #elif is the keyword in python,
  print("a is greater than b")
else:
  print("a less than b")
print("a=",a,'b=',b)

a less than b
a= -1 b= 1

# if, else, elif KEYWORD

In [ ]:
x = int(input('Enter value for x: '))
y = int(input('Enter value for y: '))
if x > y:
    print('if block Prints Hi')
elif x == y:
    print('elif block prints How R U?')
else:
    print("else block prints I am fine")

Enter value for x: -8
Enter value for y: 1
else block prints I am fine

In [ ]:
x = int(input('Enter a number'))
small = int(input('Enter a number'))
large = int(input('Enter a number'))

if small <= x and x < large:
  print(x, ' in between', small, '&', large)
else:
  print(x, ' not in between', small, '&', large)

Enter a number10
Enter a number12
Enter a number20
10  not in between 12 & 20

In [ ]:
x = int(input("Enter a number"))
if x >=0:
  if x % 2 == 0:
    print(x, " is even")
  else:
    print(x, " is odd")
else:
  print(x, ' is a negetive number, please enter a possitive one')

Enter a number-1
-1  is a negetive number, please enter a possitive one

In [ ]:
x = int(input("Enter a number"))
if x >-1 and x % 2 == 0 :
  print(x, is even)
elif x > -1:
  print(x, "is oddd")
else:
  print("Enter a possitive number")

**LEAP YEAR**

Enter the year :: 1900
1900  is not a Leap Year

In [ ]:
year = int(input('Enter the year :: '))

# LOOPING IN PYTHON

WHILE LOOP

Display of Numbers from 1 to 10

In [ ]:
x = 1 # ONly works for non-iterable objects
while x <= 10:
    print(x)
    x += 1 # x = x +1
    print('END')

1
END
2
END
3
END
4
END
5
END
6
END
7
END
8
END
9
END
10
END

In [ ]:
x = 100
while x >= 10:
    print(x)
    x -= 1
    print('END')

100
END
99
END
98
END
97
END
96
END
95
END
94
END
93
END
92
END
91
END
90
END
89
END
88
END
87
END
86
END
85
END
84
END
83
END
82
END
81
END
80
END
79
END
78
END
77
END
76
END
75
END
74
END
73
END
72
END
71
END
70
END
69
END
68
END
67
END
66
END
65
END
64
END
63
END
62
END
61
END
60
END
59
END
58
END
57
END
56
END
55
END
54
END
53
END
52
END
51
END
50
END
49
END
48
END
47
END
46
END
45
END
44
END
43
END
42
END
41
END
40
END
39
END
38
END
37
END
36
END
35
END
34
END
33
END
32
END
31
END
30
END
29
END
28
END
27
END
26
END
25
END
24
END
23
END
22
END
21
END
20
END
19
END
18
END
17
END
16
END
15
END
14
END
13
END
12
END
11
END
10
END

In [ ]:
X = 1
dir(X)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
x = '1'
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

**PRINT ALL THE LEAP YEAR FROM 1001 A.D T0 2020**

1004,1008,1012,1016,1020,1024,1028,1032,1036,1040,1044,1048,1052,1056,1060,1064,1068,1072,1076,1080,1084,1088,1092,1096,1104,1108,1112,1116,1120,1124,1128,1132,1136,1140,1144,1148,1152,1156,1160,1164,1168,1172,1176,1180,1184,1188,1192,1196,1200,1204,1208,1212,1216,1220,1224,1228,1232,1236,1240,1244,1248,1252,1256,1260,1264,1268,1272,1276,1280,1284,1288,1292,1296,1304,1308,1312,1316,1320,1324,1328,1332,1336,1340,1344,1348,1352,1356,1360,1364,1368,1372,1376,1380,1384,1388,1392,1396,1404,1408,1412,1416,1420,1424,1428,1432,1436,1440,1444,1448,1452,1456,1460,1464,1468,1472,1476,1480,1484,1488,1492,1496,1504,1508,1512,1516,1520,1524,1528,1532,1536,1540,1544,1548,1552,1556,1560,1564,1568,1572,1576,1580,1584,1588,1592,1596,1600,1604,1608,1612,1616,1620,1624,1628,1632,1636,1640,1644,1648,1652,1656,1660,1664,1668,1672,1676,1680,1684,1688,1692,1696,1704,1708,1712,1716,1720,1724,1728,1732,1736,1740,1744,1748,1752,1756,1760,1764,1768,1772,1776,1780,1784,1788,1792,1796,1804,1808,1812,1816,1820,1824,1828,1832,1836,1840,1844,1848,1852,1856,1860,1864,1868,1872,1876,1880,1884,1888,1892,1896,1904,1908,1912,1916,1920,1924,1928,1932,1936,1940,1944,1948,1952,1956,1960,1964,1968,1972,1976,1980,1984,1988,1992,1996,2000,2004,2008,2012,2016,

100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,

**TRAVERSING A STRING USING WHILE LOOP**

In [ ]:
s = 'BHUBANESWAR'

i = 0
print(len(s))
while i < len(s):
  print(s[i], end = '')
  i += 1

11
BHUBANESWAR

In [ ]:
s = 'BHUBANESWAR'
#i = 0
for i in range(len(s)):
  print('i = ',i , s[i], end = '\n')

i =  0 B
i =  1 H
i =  2 U
i =  3 B
i =  4 A
i =  5 N
i =  6 E
i =  7 S
i =  8 W
i =  9 A
i =  10 R

In [ ]:
a = int(input('Enter an integer'))
b = int(input('Enter an integer'))

r = range(a,b)
for i in r:
  if i % 2 == 1:
    print(i, end = ',')

Enter an integer10
Enter an integer20
11,13,15,17,19,

In [ ]:
print(r, '\t', type(r))

range(10, 20) 	 <class 'range'>

USING STRING

In [ ]:
x = 'ODISHA'
for i in x:
    print(i)

O
D
I
S
H
A