# STRINGs IN PYTHON

In [ ]:
x = 3
import sys
print(sys.getsizeof(x))
print(x[0]) # Why this statemet fails???

28

TypeError: ignored

In [ ]:
iter(x)

TypeError: ignored

In [ ]:
x = 'Bhubaneswar'
print(x[0], x[1], x[3])
print('Total Memory occupied by x :: ',sys.getsizeof(x))
for i in x:
  print("Memory occupied by ", i, 'is ', sys.getsizeof(i), 'and located at ', id(i))
print('------------------------------------------------------------------------------')
i = 0
while i < len(x):
  print("Memory occupied by ", x[i], 'is ', sys.getsizeof(x[i]), 'and located at ', id(x[i]))
  i += 1

B h b
Total Memory occupied by x ::  60
Memory occupied by  B is  50 and located at  140143098556176
Memory occupied by  h is  50 and located at  140143098576320
Memory occupied by  u is  50 and located at  140143099499328
Memory occupied by  b is  50 and located at  140143099084960
Memory occupied by  a is  50 and located at  140143098757840
Memory occupied by  n is  50 and located at  140143098866072
Memory occupied by  e is  50 and located at  140143099193136
Memory occupied by  s is  50 and located at  140143099193192
Memory occupied by  w is  50 and located at  140143099193024
Memory occupied by  a is  50 and located at  140143098757840
Memory occupied by  r is  50 and located at  140143099331224
------------------------------------------------------------------------------
Memory occupied by  B is  50 and located at  140143098556176
Memory occupied by  h is  50 and located at  140143098576320
Memory occupied by  u is  50 and located at  140143099499328
Memory occupied by  b is  50 and located at  140143099084960
Memory occupied by  a is  50 and located at  140143098757840
Memory occupied by  n is  50 and located at  140143098866072
Memory occupied by  e is  50 and located at  140143099193136
Memory occupied by  s is  50 and located at  140143099193192
Memory occupied by  w is  50 and located at  140143099193024
Memory occupied by  a is  50 and located at  140143098757840
Memory occupied by  r is  50 and located at  140143099331224

In [ ]:
S = ""
T = ''
U = ''''''
print(type(S),type(T), type(U))

<class 'str'> <class 'str'> <class 'str'>

CONVERTIN A STRING INTO LIST

In [ ]:
s = "TRIDENT"
print('The s is a ',type(s))
S=[]
for i in range(len(s)):
    print(s[i])
for i in s:
    S.append(i)
    print(i)
print("S is a :", type(S))

The s is a  <class 'str'>
T
R
I
D
E
N
T
T
R
I
D
E
N
T
S is a : <class 'list'>

UPDATING A STRING

In [ ]:
s[0]='t'
print(s)

TypeError: 'str' object does not support item assignment

In [ ]:
S[0]='t'
print(S)

['t', 'R', 'I', 'D', 'E', 'N', 'T']

# LIST IN PYTHON

CREATING A LIST

In [ ]:
L1 = [] # Creation of an Empty List
print(type(L1))
l1 = [1,2,'ert', 2.5]
print(l1)

<class 'list'>
[1, 2, 'ert', 2.5]

In [ ]:
l = [1,2,3, 'asd', 45.2]
print(sys.getsizeof(l), len(l))

104 5

In [ ]:
i = 0
while i < len(l):
  print(sys.getsizeof(l[i]), id(l[i]))
  i += 1

28 10914496
28 10914528
28 10914560
52 140256282429624
24 140256291542456

In [ ]:
l1 = [1,2,3,4]
print('L1 is of size ', sys.getsizeof(l1))
i = 0
while i < len(l1):
  print(sys.getsizeof(l1[i]), id(l1[i]))
  i += 1

L1 is of size  96
28 10914496
28 10914528
28 10914560
28 10914592

In [ ]:
Mark = []
print(Mark)
Mark.append(23)
print(Mark)
Mark.append(34)
print(Mark)

[]
[23]
[23, 34]

In [ ]:
x = range(1,10,1)
print(x, type(x))
L = list(x)
print(L,'\n', type(L))
i = 0
print(len(L))
while i < len(L):
  print(L[i],end = '\t')
  i += 1

range(1, 10) <class 'range'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]
 <class 'list'>
9
1	2	3	4	5	6	7	8	9

In [ ]:
M = L
print(M)
M[0] = 'Hi'
print
if id(M[0]) == id(L[0]):
  print('This is aliasig or shalow copy')
else:
  print('This is a clone or deep copy')
print
if id(M) == id(L):
  print('This is aliasig or shalow copy')
else:
  print('This is a clone or deep copy')
print('L = ', L)


N = L[:]
print('N= ', N)
N[0] = 'Bye'
print(L,'\n', N)

if id(N) == id(L):
  print('This is aliasig or shalow copy')
else:
  print('This is a clone or deep copy')
M = ['A', 'B', 'C']

print(hex(id(M)), hex(id(L)))

['Hi', 2, 3, 4, 5, 6, 7, 8, 9]
This is aliasig or shalow copy
This is aliasig or shalow copy
L =  ['Hi', 2, 3, 4, 5, 6, 7, 8, 9]
N=  ['Hi', 2, 3, 4, 5, 6, 7, 8, 9]
['Hi', 2, 3, 4, 5, 6, 7, 8, 9]
 ['Bye', 2, 3, 4, 5, 6, 7, 8, 9]
This is a clone or deep copy
0x7f44ce0e4c48 0x7f44ce0e4988

In [ ]:
A = 'Hi'
B = A
if id(A) == id(B):
  print('This is aliasig or shalow copy')
else:
  print('This is a clone or deep copy')
  
A = 'Bye'
print(B)

if id(A) == id(B):
  print('This is aliasig or shalow copy')
else:
  print('This is a clone or deep copy')

This is aliasig or shalow copy
Hi
This is a clone or deep copy

In [ ]:
L2 = [1,2,3,4,5] # List of Numbers
print(L2)
#print(L2[0]) # Indexing of List starts from 0
#print(L2[4])
print(L[1:4])

[1, 2, 3, 4, 5]
[2, 3, 4]

HETEROGENOUS LIST

In [ ]:
L3 = [1,'1']
print(L3)

[1, '1']

# ACCESSING LIST ELEMENTS & SLICES

In [ ]:
count = 0
COLORS = ["RED","GREEN","BLUE","PINK","YELLOW"]
for i in COLORS:
    print(i)
    count += 1
print("Number of Element present in ", count)

RED
GREEN
BLUE
PINK
YELLOW
Number of Element present in  5

In [ ]:
COLORS.append('BROWN')
print(COLORS)
COLORS.pop()
print(COLORS)
COLORS.insert(1, 'IVORY')
print(COLORS)

['RED', 'GREEN', 'BLUE', 'PINK', 'YELLOW', 'BROWN']
['RED', 'GREEN', 'BLUE', 'PINK', 'YELLOW']
['RED', 'IVORY', 'GREEN', 'BLUE', 'PINK', 'YELLOW']

In [ ]:
COLORS = ["RED","GREEN","BLUE","PINK","YELLOW"]
count = 0
while count < len(COLORS):
  print(COLORS[count : count + 2])
  count += 1
print(count)

['RED', 'GREEN']
['GREEN', 'BLUE']
['BLUE', 'PINK']
['PINK', 'YELLOW']
['YELLOW']
5

# GETTING THE LENGTH OF THE LIST

In [ ]:
print(len(L1))
print(len(L2))
print(len(L3))

0
5
2

#PRINTING USING LEN FUNCTION

In [ ]:
for i in range(len(COLORS)):
    print(i,"\t",COLORS[i])

0 	 RED
1 	 GREEN
2 	 BLUE
3 	 PINK
4 	 YELLOW

# LIST FUNCTIONS

In [ ]:
print(max(L2))
print(max(COLORS))

5
YELLOW

# LIST METHODS

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [ ]:
print(fruits.count('apple'))

2

In [ ]:
fruits.count('tangerine')

In [ ]:
fruits.index('banana')

In [ ]:
fruits.index('banana', 4)  # Find next banana starting a position 4

In [ ]:
fruits.reverse()
fruits

In [ ]:
fruits.append('grape')
fruits

In [ ]:
fruits.sort()
fruits

In [ ]:
fruits.pop()

# HANDS ON LIST METHOD

list.append(Object)

In [ ]:
# Create an Empty List and appned the objects from user input, simultenously print the List Content alog with the lenght
li=[]
choice = 'Y'
while(choice == 'Y'):
    ob=input("Enter the item to be inserted:::")
    li.append(ob)
    for i in range(len(li)):
        print(i,"\t",li[i])
    choice = input("For instering into List enter Y else enter N::: ")

Enter the item to be inserted3
0 	 3
For instering into List enter Y else enter NY
Enter the item to be inserted34
0 	 3
1 	 34
For instering into List enter Y else enter NY
Enter the item to be insertedTRIDENT
0 	 3
1 	 34
2 	 TRIDENT
For instering into List enter Y else enter NY
Enter the item to be insertedACADEMY
0 	 3
1 	 34
2 	 TRIDENT
3 	 ACADEMY
For instering into List enter Y else enter NY
Enter the item to be insertedOF
0 	 3
1 	 34
2 	 TRIDENT
3 	 ACADEMY
4 	 OF
For instering into List enter Y else enter NTECHNOLOGY

list.count()

In [ ]:
print(li.count('3'))

1

list.extend(list2)

In [ ]:
list2=["Technology","Bhubaneswar"]
li.extend(list2)
print(li)

['3', '34', 'TRIDENT', 'ACADEMY', 'OF', 'Technology', 'Bhubaneswar']

# TUPLE IN PYTHON

Tuples are imutable i.e. you can not change the value

In [ ]:
t1 = (); # Empty String
print(t1)
t2 = ('physics','chemistry','1997')
print(t2)
t3 = (5,)
print(t3)
t4 = (1,2,3,4,5,)
print(t4)
print(type(t1),type(t2))

()
('physics', 'chemistry', '1997')
(5,)
(1, 2, 3, 4, 5)
<class 'tuple'> <class 'tuple'>

TUPLE OPERATION

In [ ]:
t5=t2+t4
print('Concatenated Tuple : ', t5)
t6=t4*3
print('Repetation: ',t6)
print('Memebership Test using in : ', 3 in t4)
print('Iteration ')
for i in t4:
    print(i)

Concatenated Tuple :  ('physics', 'chemistry', '1997', 1, 2, 3, 4, 5)
Repetation:  (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
Memebership Test using in :  True
Iteration
1
2
3
4
5